<h1>Babson Honors Program</h1>

<table class="table">
	<tr>
		<th><%= link_to "Honors Program Application", new_user_path %></th>
	</tr>
	<tr>
		<th><%= link_to "Honors Faculty Recomendation", new_user_path %></th>
	</tr>
	<tr>
		<th><%= link_to "Honors Program Committee Member Evaluation", new_user_path %> </th>
	</tr>
</table>

<% if signed_in? %>
	<div class="row">
		<%= link_to "Your User Information", current_user %>
	</div>
<% else %>
	<div class="center hero-unit">
	<h1>Babson Honor's Society</h1>
	<p>
		This is a work in progress
		<a href="http://google.com">for Babson College</a>
	</p>

	<%= link_to "Create New User", signup_path, class: "btn btn-large btn-primary" %>

	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>

