<h4> Yout Student Honor's Program Application </h4>

<div>

<table class="table">
	<tr>
		<th>Student Name</th>
		<th>Year of Graduation</th>
	</tr>
	<tr>
		<td>
	<%= @app.applicant_name %>
		</td>
		<td>
	<%= @app.year_of_grad %>
		</td>
	</tr>
	<tr>
		<td> Question 1 </td>
		<td colspan="2">
	<%= @app.q1 %>
		</td>
	</tr>
	<tr>
		<td> Question 2 </td>
		<td colspan="2">
	<%= @app.q2 %>
		</td>
	</tr>
	<tr>
		<td> Question 3 </td>
		<td colspan="2">
	<%= @app.q3 %>
		</td>
	</tr>
	<tr>
		<td> Question 4 </td>
		<td colspan="2">
	<%= @app.q4 %>
		</td>
	</tr>
	
 </table>

</div>